body{
    background-color: rgb(43, 41, 41);
    background-image: linear-gradient(rgba(34, 15, 15, 0.5), rgba(25, 1, 56, 0.5)), url("https://scontent.flos1-3.fna.fbcdn.net/v/t1.6435-9/67948422_683284992144115_3553283287872962560_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=aUExo-CDPjIQ7kNvwE0_4ak&_nc_oc=Adk0XBFcCvFrlaJzhgdQa_DZfO7bZu7Kk6lCBnwIzNioX2IC72kVIwouWZp1ZPYlw8U&_nc_zt=23&_nc_ht=scontent.flos1-3.fna&_nc_gid=a911f8sNO6g2Hi3fbL5npA&oh=00_AfloDhcK9iU9Q-9s6S1kibQcK4xnuE5X3KrL7BSFQX59Ew&oe=696F93DF");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.logo img{
    border-radius: 50%;
}
.logo a{
    text-decoration: none;
    color: rgb(128, 13, 13);
    font-size: 24px;
    font-weight: bold;
}
.nav-item{
    margin: 0% 15px;
    cursor: pointer;
    color: rgb(19, 205, 218);
    text-decoration: none;
    font-size: 18px;
}.nav-item:hover{
    text-decoration: none;
}

button{
    background-color: rgb(13, 185, 216);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;

}
button:hover{
   box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 25px cyan, 0 0 10px cyan;
}

hr{
    border: 1px solid #4211d6;
    margin: 30px 100px;
    border-style: dotted;
    width: 0% 80%;
} 
ul{
    color: #000;
}
ol{
    color: #000;
}